body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #ffffff;
  color: #333;
}

/* Navigation */
nav {
  background: #222;
  padding: 12px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 18px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover,
nav a.active {
  color: #ffce00;
}

/* Page Sections */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.content {
  max-width: 700px;
  margin: 50px auto;
  padding: 0 20px;
}

/* Course List */
.course-list {
  list-style: none;
  padding: 0;
}

.course-list li {
  margin: 10px 0;
}

.course-list a {
  color: #0066cc;
  text-decoration: none;
}

.course-list a:hover {
  text-decoration: underline;
}
.progress-box {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 25px 0;
  border-radius: 6px;
}

.progress-box h2 {
  margin-top: 0;
}
.course-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.course-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s;
}

.course-card:hover {
  border-color: #ffce00;
  transform: translateY(-4px);
}

.course-card h2 {
  margin-top: 0;
  color: #333;
}

.course-card p {
  color: #666;
  font-size: 14px;
}

.btn {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 16px;
  background: #222;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background: #ffce00;
  color: #222;
}
pre {
  background: #eee;
  padding: 15px;
  overflow-x: auto;
  border-radius: 5px;
}
.auth-container {
  width: 320px;
  background: #fff;
  margin: 80px auto;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.auth-container h2 {
  margin-top: 0;
}

.auth-container form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.auth-container .btn {
  width: 100%;
  padding: 10px;
}
